{% include 'pos_header' %}

<div class="container-fluid">
    <form id='search-form' method="get">
        <div style='margin-top: 12px;'>
        		<input type='text' style='width:90%; height: 30px;' name='search' value="{{ search }}"/> <button style='width: 9%; vertical-align: top;' class='btn btn-success'>Search</button></p>
        </div>
    </form>
    <script type='text/javascript'>
        $('#search-form').attr('action', window.location.search);
    </script>
	<div class="span12">
		<table class="table">
			<tr>
				<th>Registry</th>
				<th>Registrant</th>
				<th>Co-Registrant</th>
			</tr>
			{% if registries.size > 0 %}
				{% for registry in registries %}
					<tr>
						<td><a href='/pos/view_registry/{{ registry.id }}'>#{{ registry.id }} - {{ registry.name }}</a></td>
						<td>{{ registry.registrant }}</td>
						<td>{{ registry.coregistrant }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan=4>You have no open registries that match your criteria.</td>
				</tr>
			{% endif %}
		</table>
	</div>
</div>


<div id="pagination-div"></div>
<script type='text/javascript'>createPagination($("#pagination-div"), {{ max_pages }});</script>

{% include 'pos_footer' %}