<div class="registry-profile">
	{% if is_admin %}
	<div class="manage-registry-header">
	    <div class="container">
			<div class="row no-gutters manage-registry-layout">
				{% if image %}
				<div class="col-12 col-lg-3">
					<div class="manage-registry-photo" style="background-image:url({{ image }});">
					<img src='{{ image }}' alt="{{ registrant_first | escape_html }}{% if coregistrant_first %} & {{ coregistrant_first | escape_html }}{% else %}{{ 'gift-reggie.terms.none' | t }}{% endif %}'s Photo"/>
				</div>
				</div>
				{% endif %}	
				<div class="{% if image %}col-12 col-lg-9{% else %}col-12 col-lg-8 offset-lg-2{% endif %}">
						<div class="registry-header-details">
							<h2 class="registry-title">{% if coregistrant_first %}{{ registrant_first | escape_html }} {{ registrant_last | escape_html }}{% if coregistrant_first %} & {{ coregistrant_first | escape_html }} {{ coregistrant_last | escape_html }}{% else %}{{ 'gift-reggie.terms.none' | t }}{% endif %}'s{% else %}Your{% endif %} Registry</h2>
						
							<div class="registry-title-event-date">Wedding Details: {{ event_datetime | date }}</div>
					
						
							{% if message %}
								<div class="giftreggie-store-message registry-title-event-message">{{ message | escape_html | newline_to_br }}</div>
							{% endif %}
							{% if description %}
								<div class="giftreggie-description registry-title-event-message">
									{{ description | escape_html | newline_to_br }}
								</div>
							{% endif %}
							{% if is_admin%}
							<div class="reigstry-description-edit">
								<a href="{{ proxy_url }}/registry/{{ id }}/profile#weddingDetails" class="registry-title-edit">{{ 'gift-reggie.registry.edit_message' | t }}</a>
							</div>
							{% endif %}
				
				
						
							<div class="registry-title-url">
								<label class="registry-title-link-label">Registry Link:</label> 
								<span class="link-text">https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}</span>
								<div class="copy-link js-copy-link mini-button" rel="https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}">
									<span class="mini-button-text">Copy Link</span>
								</div>
								<div class="share-link">
									<a href="{{ proxy_url }}/registry/{{ id }}/share" class="mini-button">
										<span class="mini-button-text">Share Link</span>
									</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="registry-excerpt">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
            		<div class="dashboard-summary">
		
							<div class="summary-item summary-date">
								<i></i>
								<div class="summary-text">
								<span class="summary-title">{{ event_datetime | date }} </span>
								<span class="summary-subtitle">until your big day</span>
								</div>
							</div>
							<div class="summary-item summary-gifts">
								<i></i>
								<div class="summary-text">
								<span class="summary-title"> 
									{% assign count = 0 %}
									{% for product in products %}
									{% assign count = product.wants + count %}
										{{count}}
									{% endfor %}
									 Gifts</span>
								<span class="summary-subtitle">added to your registry</span>
								</div>
							</div>
							<div class="summary-item summary-purchased">
								<i></i>
								<div class="summary-text">
								<span class="summary-title">Gifts</span>
								<span class="summary-subtitle">Purchased or Claimed</span>
								</div>
							</div>

					</div>
		        </div>
			</div>
        </div>
	</div>
	<div class="registry-quicklinks">
		<div class="container">
			
			<div class="row">
	            <div class="col-12">
					<h2 class="quicklinks-title">Next Steps</h2>
				</div>
			</div>
			
			<div class="row">
	            <div class="col-12">
					<div class="dashboard-quicklinks">
						<div class="quick-link shipping-address">
							<a href="#shippingAddress">
								<div class="quick-icon">
									<i class="icon-address"></i>
								</div>
								<div class="quick-text">Add Your Shipping Address</div>
							</a>
						</div>
						<div class="quick-link bank-details">
							<a href="#">
								<div class="quick-icon">
									<i class="icon-bank"></i>
								</div>
								<div class="quick-text">Edit Bank Details</div>
								
							</a>
							<i class="js-bank-tooltip bank-tooltip">
								<div class="bank-tool-tip">
									<h4 class="h5 bank-tool-tip-title">Your Bank Account Details</h4>
									<p class="bank-tool-tip-text">(only applicable to US checking accounts).  If you are adding Cash Funds to your registry, we need to know how to transfer the money to you.</p>
								</div>
								
							</i>
							
						</div>
						<div class="quick-link partner-info">
							<a href="#partnerInfo">
								<div class="quick-icon">
									<i class="icon-bed"></i>
								</div>
								<div class="quick-text">Add Partner Info</div>
							</a>
						</div>
						<div class="quick-link champagne-registry">
							<a href="{{ proxy_url }}/registry/{{ id }}">
								<div class="quick-icon">
									<i class="icon-champagne"></i>
								</div>
								<div class="quick-text">Share Registry</div>
							</a>
						</div>
						<div class="quick-link edit-details">
							<a href="#weddingDetails">
								<div class="quick-icon">
									<i class="icon-edit"></i>
								</div>
								<div class="quick-text">Edit Wedding Details</div>
							</a>
						</div>
					</div>
				 </div>
        	 </div>
			 
	 	</div>
 	</div>
	 
	 {% endif %}
	 
 	<div class="registry-dashboard">
 		<div class="container">
 			{% if allow_passwords %}
 			<div class="row">
 				<div class="col-12 col-lg-6">
 					<div class="make-private">
 						<div class="private-header">
 						<input type='checkbox' id='registry-protection' {% if has_password %}checked{% endif %}>
 						<h3 class="dashboard-form-title">Make Registry Private</h3>
 					</div>
 						<p class="dashboard-text">{{ 'gift-reggie.registry-profile.protection.description' | t }}</p>
 						<div class="dashboard-input-group">
 						<label class="dashboard-label">{{ 'gift-reggie.terms.password' | t }}</label> 
 						<input type='password' 
 						name='registry-password' 
 						class="dashboard-input big-input"
 						placeholder='{{ 'gift-reggie.registry-profile.protection.blank' | t }}' {% unless has_password %}disabled{% endunless %} 
 						type='text'/>
 					</div>
 					</div>
 				</div>
 			</div>
 			{% endif %}
 		<div class="row">
 			<div class="col-12">
				<div class="wedding-details" id="weddingDetails">
					<h3 class="dashboard-form-title">{{ 'gift-reggie.registry-profile.title' | t }}</h3>
					<div class="row">
						<div class="col-12 col-lg-8">
							<div class="dashboard-input-group">
								<label class="dashboard-label">{{ 'gift-reggie.terms.registry_title' | t }}</label>
								<input name='registry-title' type='text' class="dashboard-input big-input" value='{{ name | escape_html }}'/>
							</div>
						</div>
						<div class="col-12 col-lg-4">
	   						<div class="dashboard-input-group">
	   						{% assign input_format = datetime_format_input | replace: "%m", "MM" | replace: "%d", "DD" | replace: "%Y", "YYYY" | replace: "%y", "YY" %}
	   						<label class="dashboard-label">{{ 'gift-reggie.terms.registry_event_date' | t }}({{ input_format }})</label> 
	   						 <input name='event-date' class="datepicker dashboard-input big-input" type='text' {% unless event_datetime %}placeholder="{{ input_format }}"{% endunless %} value='{{ event_datetime | date: datetime_format_input }}'/>
	   					 </div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.registry-profile.public_message' | t }}</label> 
								<textarea name='registry-description' class="dashboard-input">{{ description | escape_html }}</textarea></>
							</div>
						</div>
					</div>
					{% if event_types.size > 0 %}
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.registry_event_type' | t }}</label>
									<select class="dashboard-input" id="event-type" name='event-type' style="width: 100%;">
										{% for type in event_types %}<option>{{ type.name | escape_html }}</option>{% endfor %}
									</select>
								</div>
							</div>
						</div>
						{% endif %}
						
						<div class="row">
							<div class="col-12 col-lg-6">
								
									<input type='file' name='registry-image' class="dashboard-input big-input" /> 
									
									 <p class="dashboard-text max-size">{{ 'gift-reggie.registry-profile.max_size' | t }}</p>
							</div>
							{% if image %}
					
								<div class="col-12 col-lg-6">
									<h3 class="dashboard-form-title">Current Image</h3>
									<a target="_blank" href='{{ image }}' class="current-image">
										<img src="{{ image }}" alt="registry image" />
									</a>
									<button name='action' value='delete-image' class="cta button">
										{{ 'gift-reggie.terms.registry_remove_image' | t }}
									</button>
								</div>
							
				
							{% endif %}
						
						</div>
					
				</div>
			</div>
 		</div>
 		<div class="row">
 			<div class="col-12">
				<div class="registrant-info">
					<h3 class="dashboard-form-title">{{ 'gift-reggie.registry-profile.registrant_info' | t }}</h3>
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="registrant-box">
							
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.title' | t }}</label>
									 <input class="dashboard-input title-input" name='registrant-title' type='text' maxlength="16" value="{{ registrant_title | escape_html }}" class="body1"/>
								</div>
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.first_name' | t }}</label>
										 <input  class="dashboard-input" name='registrant-first' type='text' {% unless registrant_first %}placeholder="{{ customer.first_name }}"{% endunless %} value="{% if registrant_first %}{{ registrant_first | escape_html }}{% else %}{{ customer.first_name }}{% endif %}"/>
								</div>
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.last_name' | t }}</label>
										<input  class="dashboard-input" name='registrant-last' type='text' {% unless registrant_last %}placeholder="{{ customer.last_name }}"{% endunless %} value="{% if registrant_last %}{{ registrant_last | escape_html }}{% else %}{{ customer.last_name }}{% endif %}"/>
								</div>
							
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="registrant-box" id="partnerInfo">
								
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.title' | t }}</label>
									<input  class="dashboard-input title-input" name='coregistrant-title' type='text' maxlength="16" value="{{ coregistrant_title | escape_html }}"/>
								</div>
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.first_name' | t }}</label>
									<input  class="dashboard-input" name='coregistrant-first' type='text' value="{{ coregistrant_first | escape_html }}"/>
								</div>
								<div class="dashboard-input-group">
									<label class="dashboard-label">{{ 'gift-reggie.terms.last_name' | t }}</label>
									<input   class="dashboard-input" name='coregistrant-last' type='text' value="{{ coregistrant_last | escape_html }}"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
 		</div>
 		<div class="row">
 			<div class="col-12">
				<div class="contact-info">
					<h3 class="dashboard-form-title">{{ 'gift-reggie.registry-profile.contact_info' | t }}</h3>
	       		 	<div class="row">
	   		 		<div class="col-12">
	   					<div class="dashboard-input-group">
	   						<label class="">{{ 'gift-reggie.terms.address' | t }}</label> 
	   						<input name='contact-address' class="dashboard-input" type='text' value="{{ contact_address | escape_html }}"/>
	   					</div>
	   		 		</div>
	       		 </div>
	   			  	<div class="row">
	   			  	<div class="col-12 col-lg-3">
	   					<div class="dashboard-input-group">
	   						<label class="dashboard-label">{{ 'gift-reggie.terms.city' | t }}</label> 
	   						<input name='contact-city' class="dashboard-input" type='text' value="{{ contact_city | escape_html }}"/>
	   					</div>
	   				</div>
	   				<div class="col-12 col-lg-3">
	   					<div class="dashboard-input-group">
	   						<label class="dashboard-label">{{ 'gift-reggie.terms.province' | t }}</label> 
	   						<input name='contact-province' class="dashboard-input" type='text' value="{{ contact_province | escape_html }}"/>
	   					</div>
	   				</div>
	   				<div class="col-12 col-lg-3">
	   					<div class="dashboard-input-group">
	   						<label class="dashboard-label">{{ 'gift-reggie.terms.zip' | t }}</label> 
	   						<input name='contact-postal' class="dashboard-input" type='text' value="{{ contact_postal | escape_html }}"/>
	   					</div>
	   				</div>
	   				<div class="col-12 col-lg-3">
	   					<div class="dashboard-input-group">
	   						<label class="dashboard-label">{{ 'gift-reggie.terms.country' | t }}</label> 
	   						<select class="country-selector dashboard-input" name='contact-country'>{% include 'proxy_countries' %}</select>
	   					</div>
	   				</div>
	   			  </div>
	   			   <div class="row">
	   				   <div class="col-12 col-lg-4">
	   						<div class="dashboard-input-group">
	   							<label class="dashboard-label">{{ 'gift-reggie.terms.daytime_telephone' | t }}</label> 
	   							 <input name='contact-daytime' class="dashboard-input" type='text' value="{{ contact_daytime | escape_html }}"/>
	   						 </div>
	   				   </div>
	   				   <div class="col-12 col-lg-4">
	   						 <div class="dashboard-input-group">
	   								<label class="dashboard-label">{{ 'gift-reggie.terms.email' | t }}</label> 
	   								<input name='contact-email' class="dashboard-input" type='text' placeholder="{{ customer.email }}" value="{% if contact_email %}{{ contact_email | escape_html }}{% else %}{{ customer.email }}{% endif %}"/>
	   						</div>
	   				   </div>
	   				   <div class="col-12 col-lg-4">
	   						<div class="dashboard-input-group">
	   								<label class="dashboard-label">{{ 'gift-reggie.terms.verify_email' | t }}</label> 
	   								<input type='text' class="dashboard-input" placeholder="{{ customer.email }}" value="{% if contact_email %}{{ contact_email | escape_html }}{% else %}{{ customer.email }}{% endif %}"/>
	   						</div>
	   				   </div>
	   			   </div>
	   			 	<div class="row">
		   				<div class="col-12">
		   					 <div class="dashboard-input-group">
			   						 <label class="dashboard-label">{{ 'gift-reggie.registry-profile.how_did_you_hear' | t }}</label>
	   						 <select id='about-type' name='about-type' class="dashboard-input">
	   							{% unless about_required %}<option>N/A</option>{% endunless %}
	   							{% for type in about_types %}
	   								<option>{{ type.name | escape_html }}</option>
	   							{% endfor %}
	   							</select>	 
			   				 </div>
						 </div>
					 </div>
				 </div>
			 </div>
 		</div>
		
	
		
		{% unless force_pickup %}
 		<div class="row">
 			<div class="col-12">
				<div class="shipping-prefs">
					<h3 class="dashboard-form-title">Shipping Preferences</h3>
					{% if allow_pickup %}
					<div class="preferences-group">
						<p class="dashboard-text">How would you like to receive your gifts?</p>
					
								<select id='store-pickup' name='store-pickup' class="dashboard-input">
									<option value='0'>{{ 'gift-reggie.registry-profile.ship_items' | t }}</option>
									<option value='1' {% if in_store_pickup %}selected{% endif %}>{{ 'gift-reggie.registry-profile.pickup_items' | t }}</option>
								</select>
					</div>
					{% elsif force_pickup %}
						<input type='hidden' name='store-pickup' value='1'/>
					{% endif %}
					<div class="preferences-group">
						<p class="dashboard-text">When would you like registry items shipped?</p>
						<select class="dashboard-input" name="extra_selector" id="extra_selector" onchange='checkvalue(this.value)'> 
							<option selected="selected" 
									value="Ship items as they are ordered">Ship items as they are ordered</option>
							 <option value="Ship items for the event date">Ship items for the event date</option>
							 <option value="other">Ship items for this date:</option>
						 </select> 
						 <input 
						 	name="extra" 
						 	id="extra" 
						 	style='display:none; width: 30%' value="Ship items as they are ordered"/>
					</div>
				</div>
			</div>
 		</div>
		{% endunless %}
		{% unless force_pickup %}
 		<div class="row">
 			<div class="col-12">
				<div class="gift-shipping" id="shippingAddress">
					<h3 class="dashboard-form-title">{{ 'gift-reggie.registry-profile.shipping_info' | t }}</h3>
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="before-shipping">
									<div class="preferences-group">
										<p class="dashboard-text">{{ 'gift-reggie.registry-profile.before_title' | t }} </p>
											<select {% if in_store_pickup %}disabled{% endif %} id="before-shipping-selector" class="dashboard-input">
											<option value='above'>{{ 'gift-reggie.terms.above' | t }}</option>
											<option value='below' {% if before_address %}selected{% endif %}>{{ 'gift-reggie.terms.below' | t }}</option>
										</select>
										
									</div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.address' | t }}</label>
											 <input class="dashboard-input" name='before-address' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless before_address %}disabled{% endunless %} value="{{ before_address | escape_html }}"/></div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.city' | t }}</label> 
											<input class="dashboard-input" name='before-city' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless before_address %}disabled{% endunless %} value="{{ before_city | escape_html }}"/></div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.province' | t }}</label> 
											<input class="dashboard-input" name='before-province' {% if in_store_pickup %}disabled{% endif %}  type='text' {% unless before_address %}disabled{% endunless %} value="{{ before_province | escape_html }}"/></div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.country' | t }}</label> 
											<select class="dashboard-input" name='before-country' class='country-selector' {% if in_store_pickup %}disabled{% endif %} {% unless before_address %}disabled{% endunless %}>{% include 'proxy_countries' %}</select></div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.zip' | t }}</label> 
											<input class="dashboard-input" name='before-postal' {% if in_store_pickup %}disabled{% endif %} type='text' {% unless before_address %}disabled{% endunless %} value="{{ before_postal | escape_html }}"/></div>
								
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="after-shipping">
									<div class="preferences-group">
										<p class="dashboard-text">{{ 'gift-reggie.registry-profile.after_title' | t }}</p>
									    <select {% if in_store_pickup %}disabled{% endif %} id="after-shipping-selector" class="dashboard-input">
									   					<option value='above'>{{ 'gift-reggie.terms.above' | t }}</option>
									   					<option value='below' {% if after_address %}selected{% endif %}>{{ 'gift-reggie.terms.below' | t }}</option>
									   				</select>
									</div>
									<div class="dashboard-input-group">
											<label class="dashboard-label">{{ 'gift-reggie.terms.address' | t }}</label> 
											<input class="dashboard-input" name='after-address' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless after_address %}disabled{% endunless %} value="{{ after_address | escape_html }}"/></div>
									<div class="dashboard-input-group">
					   								<label class="dashboard-label">{{ 'gift-reggie.terms.city' | t }}</label> 
													<input class="dashboard-input" name='after-city' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless after_address %}disabled{% endunless %} value="{{ after_city | escape_html }}"/></div>
									<div class="dashboard-input-group">
					   								<label class="dashboard-label">{{ 'gift-reggie.terms.province' | t }}</label> 
													<input class="dashboard-input" name='after-province' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless after_address %}disabled{% endunless %} value="{{ after_province | escape_html }}"/></div>
									<div class="dashboard-input-group">
					   								<label class="dashboard-label">{{ 'gift-reggie.terms.country' | t }}</label> 
													<select class="dashboard-input" name='after-country' class='country-selector' {% if in_store_pickup %}disabled{% endif %} {% unless after_address %}disabled{% endunless %}>{% include 'proxy_countries' %}</select
													></div>
									<div class="dashboard-input-group">
					   								<label class="dashboard-label">{{ 'gift-reggie.terms.zip' | t }}</label> 
													<input class="dashboard-input" name='after-postal' type='text' {% if in_store_pickup %}disabled{% endif %} {% unless after_address %}disabled{% endunless %} value="{{ after_postal | escape_html }}"/></div>
								</div>
							</div>
						</div>
				</div>
			</div>
 		</div>
		{% endunless %}

 		</div>
 	</div>
	 
	
	
	
	
</div>
<script>
    function checkvalue(val){
        if(val=="other"){
            document.getElementById('extra').style.display='inline-block';
            document.getElementById('extra').type='date';
        }
        else{
            document.getElementById('extra').style.display='none';
            document.getElementById('extra').type='text';
            document.getElementById('extra').value = val;
        }
    }
</script>
<script type='text/javascript'>
	window.jqReady.push(function(jQuery) {
		(function( $ ) {
			{% if default_country %}$('select.country-selector').val('{{ default_country }}');{% endif %}
			{% if contact_country %}$('select[name="contact-country"]').val("{% if (contact_country | downcase) == "us" or (contact_country | downcase) == "usa" %}United States{% else %}{{ contact_country | escape_html }}{% endif %}");{% endif %}
			{% if before_country %}$('select[name="before-country"]').val("{% if (before_country | downcase) == "us" or (before_country | downcase) == "usa" %}United States{% else %}{{ before_country | escape_html }}{% endif %}");{% endif %}
			{% if after_country %}$('select[name="after-country"]').val("{% if (after_country | downcase) == "us" or (after_country | downcase) == "usa" %}United States{% else %}{{ after_country | escape_html }}{% endif %}");{% endif %}
			
			$('input[name=registry-image]').change(function() {
				if (this.files[0].size >= 5*1024*1024) {
					alert("Images can be a maximum of 5 megabytes.");
					$(this).val('');
				}
			});
			
			$('#store-pickup').change(function() {
				if ($(this).val() == "1") {														
					$('#before-shipping-selector').val("{{ 'gift-reggie.terms.above' | t }}").change();
					$('#after-shipping-selector').val("{{ 'gift-reggie.terms.above' | t }}").change();
					$('#before-shipping-selector').attr('disabled', 'disabled');
					$('#after-shipping-selector').attr('disabled', 'disabled');
                    $('#extra_selector').attr('disabled','disabled');

				} else {
					$('#before-shipping-selector').removeAttr('disabled');
					$('#after-shipping-selector').removeAttr('disabled');
					$('#before-shipping-selector').change();
					$('#after-shipping-selector').change();
                    $('#extra_selector').removeAttr('disabled');
                }
			});
			{% if event_type %}
				$('#event-type').val("{{ event_type | escape_html }}");
			{% endif %}
			{% if about_type %}
				$('#about-type').val("{{ about_type | escape_html }}");
			{% endif %}
			
			function toggleFields(value, ba) {
				if (value == 'below') {
					$('.' + ba + '-shipping input, .' + ba + '-shipping select').removeAttr('disabled');
				}
				else {
					$('.' + ba + '-shipping input, .' + ba + '-shipping select').attr('disabled', 'disabled');
					$('.' + ba + '-shipping input').val('');
				}
			}

			$('#before-shipping-selector').change(function() {
				toggleFields($(this).val(), "before");
			});
			$('#after-shipping-selector').change(function() {
				toggleFields($(this).val(), "after");
			});
			$('#registry-protection').click(function() {
				if (!$(this).is(":checked")) {
					$('input[name="registry-password"]').attr('disabled','disabled');
				} else {
					$('input[name="registry-password"]').removeAttr('disabled');
				}
				return true;
			});
		})(jQuery);
	});
</script>