{% include 'proxy_header' %}
<style>
	.giftreggie-registry-password-action {
		text-align: center;
	}
</style>
<div class="giftreggie-front giftreggie-registry-password giftreggie-theme-{{ theme.name | handleize }}">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2">
	<form method="get">
		<h2 class="h3 color-berry">{{ 'gift-reggie.registry.password_protected' | t }}</h2>
		{% if active_error %}
			<div class="giftreggie-error">{{ active_error | escape_html }}</div>
		{% endif %}
		<div class="giftreggie-registry-password-action">
      <input type='hidden' name='sid' value="{{ sid }}">
      <input type='text' name='password'>
			<button class="button cta">{{ 'gift-reggie.registry.password_submit' | t }}</button>
		</div>
	</form>
</div>
</div>
</div>
</div>

{% include 'proxy_footer' %}