<div class="manage-registry-header">
    <div class="container">
		<div class="row no-gutters manage-registry-layout">
			{% if image %}
			<div class="col-12 col-lg-3">
				<div class="manage-registry-photo" style="background-image:url({{ image }});">
				<img src='{{ image }}' alt="{{ registrant | escape_html }}{% if coregistrant %} & {{ coregistrant | escape_html }}{% else %}{{ 'gift-reggie.terms.none' | t }}{% endif %}'s Photo"/>
			</div>
			</div>
			{% endif %}	
			<div class="{% if image %}col-12 col-lg-7{% else %}col-12 col-lg-8 offset-lg-2{% endif %}">
					<div class="registry-header-details">
						<h2 class="registry-title">{{ registrant | escape_html }}{% if coregistrant %} & {{ coregistrant | escape_html }}{% else %}{{ 'gift-reggie.terms.none' | t }}{% endif %}'s Registry</h2>
						
						<div class="registry-title-event-date">Wedding Details: {{ event_datetime | date }}</div>
					
						
						{% if message %}
							<div class="giftreggie-store-message registry-title-event-message">{{ message | escape_html | newline_to_br }}</div>
						{% endif %}
						{% if description %}
							<div class="giftreggie-description registry-title-event-message">
								{{ description | escape_html | newline_to_br }}
							</div>
						{% endif %}
						{% if is_admin%}
						<div class="reigstry-description-edit">
							<a href="{{ proxy_url }}/registry/{{ id }}/profile#weddingDetails" class="registry-title-edit">{{ 'gift-reggie.registry.edit_message' | t }}</a>
						</div>
						{% endif %}
				
				
						
						<div class="registry-title-url">
							<label class="registry-title-link-label">Registry Link:</label> 
							<span class="link-text">https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}</span>
							{% if is_admin%}
							<div class="copy-link js-copy-link mini-button" rel="https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}">
								<span class="mini-button-text">Copy Link</span>
							</div>
							<div class="share-link">
								<a href="{{ proxy_url }}/registry/{{ id }}/share" class="mini-button">
									<span class="mini-button-text">Share Link</span>
								</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
		</div>
	</div>
</div>


{% if products.size == 0 %}
	<div class="giftreggie-no-products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="no-products-content">
						<h3 class="h3 color-berry">{{ 'gift-reggie.wishlist.no_products' | t }} </h3>
						{% if is_admin %}
						<a href='{{ browsing_link }}' class="button cta add0b">Start by Adding Gifts</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if is_admin %}
	<div class="giftreggie-browse-add-products">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
							<a href='{% if language %}/{{ language }}{% endif %}{{ browsing_link }}' class="button cta">
								Add Products
							</a>
						</div>
		        </div>
		    </div>
		</div>
{% endif %}

{% if products.size > 0 %}
	{% if max_pages > 1 %}
		<div class="giftreggie-browse-add-products">
	    <div class="container">
	        <div class="row">
	            <div class="col-12 col-lg-4 offset-lg-8">
					<div class="giftreggie-items-page">
						{{ 'gift-reggie.items_per_page' | t }}
						<select id="per-page-selector">
							<option>25</option>
							<option>50</option>
							<option>100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
<div class="full-registry">
	<div class="container">
		<div class="row">
			{% unless is_admin %}
			<div class="col-12 col-lg-3">FILTER</div>
			{% endunless %}
			<div class="col-12 {% unless is_admin %}col-lg-9{% endunless %}">
				<form method="post" class="giftreggie-registry-form">
					<div class="giftreggie-view-registry row" id="view-registry">
			{% for product in products %}
			<div class="col-6 col-lg-3">
				<div class='registry-variant registry-gift-item'>
					<input type='hidden' name="item-id" value="{{ product.id }}">
					<input type='hidden' class='variant-id' name='variant-id' value='{{ product.variant_id }}'/>
					<input type='hidden' class='product-id' name='product-id' value='{{ product.product_id }}'/>
					<div class="giftreggie-item-image">
						{% if product.still_needs > 0 or is_admin %}
						<a href='{% if testing %}/mock{% endif %}{% if language %}/{{ language }}{% endif %}/products/{{ product.handle | escape_html }}'>{% endif %}
							<img src="{{ product.image | img_url: '450x450' }}" />
							{% if product.still_needs > 0 or is_admin %}</a>{% endif %}
						</div>
					<div class="gift-item-content">
						{% if product.still_needs > 0 or is_admin %}
					  		<div class="gift-item-vendor">{{ product.vendor | escape_html }}</div>
							<a class="giftreggie-item-name gift-item-name" href='{% if testing %}/mock{% endif %}{% if language %}/{{ language }}{% endif %}/products/{{ product.handle | escape_html }}'>{{ product.title | escape_html }}</a>
				
						
					{% else %}
					       <div class="giftreggie-item-name gift-item-name">{{ product.title | escape_html }}</div>
					{% endif %}
						{% if product.properties %}
							<div class="properties">
							    {% assign bold_price = 0 %}
								{% for property in product.properties %}
								 {% if property.name is '_boldVariantPrices' %}
								    {% assign bold_price = property.value %}
								 {% endif %}
								 {% if property.name contains 'bold' %}
								        <div style='display: none' class="property property-{{ property.name | handleize }}">
    										<span class="property-name">{{ property.name | escape_html }}</span>
    										<span class="property-value">{{ property.value | escape_html }}</span>
    									</div>
								    {% else %}
    									<div class="property property-{{ property.name | handleize }}">
    										<span class="property-name">{{ property.name | escape_html }}</span>
    										<span class="property-value">{{ property.value | escape_html }}</span>
    									</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="gift-item-price">
						<span class='money'>{{ (product.price + bold_price) | money }}</span>
						{% unless is_admin %}{% if product.still_needs > 0 %}<button class="giftreggie-add-to-cart btn">{{ 'gift-reggie.cart-update.add' | t }}</button>{% endif %}{% endunless %}
					</div>
					<div class="manage-registry-item">
							<div class="wants">
								{{ 'gift-reggie.registry.wants' | t }}
								{% if is_admin %}
								<input type='text' class="giftreggie-want-quantity" name="want-quantity-{{ product.id }}" maxlength=3 value='{{ product.wants }}'/>{% else %}
								<span>{{ product.wants }}</span>
								{% endif %}
							</div>
							<div class="has">
								<span>{{ 'gift-reggie.registry.has' | t }}</span>
								{{ product.has }}
							</div>
							<div class="has">
								<span>{{ 'gift-reggie.registry.needs' | t }}</span>
								{{ product.still_needs }}
							</div>
						</div>
					
				
				</div>
			</div>
			{% endfor %}
					</div>
		
					{% if is_admin %}
						<div class="action-buttons manage-registry-buttons">
							<button id='discard-changes' class="button cta">{{ 'gift-reggie.terms.discard_changes' | t }}</button>
							<button id='save-changes' name='action' value='update' class="button cta">{{ 'gift-reggie.terms.save_changes' | t }}</button>
						</div>
						<script type='text/javascript'>
							window.jqReady.push(function(jQuery) {
								(function($) {
									$('#view-registry input').keypress(function (e) {
										if (e.which == 13) {
											$('#save-changes').click();
											return false;
										}
									});
									$('#discard-changes').click(function() {
										window.location.href = window.location.href;
										return false;
									});
								})(jQuery);
							});
						</script>
					{% else %}
	
						{% if registry_notes %}
							<div class="giftreggie-notes">
							<h4>{{ 'gift-reggie.cart-update.note' | t }}</h4>
							<textarea name='note'>{{ cart.note | escape }}</textarea>
						</div>
						{% endif %}
		
						<div class="action-buttons manage-registry-buttons">
							<button id="registry-update-cart" class="button cta">{{ 'gift-reggie.cart-update.update' | t }}</button>
							{% include 'snippet-giftreggie-checkout-button' %}
						</div>
							<script type='text/javascript'>
								window.jqReady.push(function(jQuery) {
									(function($) {
										$('.registry-variant-quantity').keypress(function (e) {
											if (e.which == 13) {
												$('#registry-update-cart').click();
												return false;
											}
										});
									})(jQuery);
								});
							</script>
					{% endif %}
		
		
					{% if max_pages > 1 %}
					<div class="registry-pagination">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div id="pagination-div"></div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
		
					<div id="status-bar" style="display:none;">{{ 'gift-reggie.cart-update.success' | t }}</div>
					<input type='hidden' name='extra' value='{{ extra | escape_html }}'/>
				</form>
			</div>
		</div>
	</div>
</div>	
	
	<script type='text/javascript'>	
	window.jqReady.push(function(jQuery) {		
		(function( $ ) {
			createPagination($('#pagination-div'), {{ max_pages }});

			$('#per-page-selector').change(function() {
				var url = window.location.href.replace(/[\?\&](limit|page)=\d+/g, "").replace(/^([^\?])+&/, "$1\?");
				url += (url.indexOf("?") == -1) ? "?" : "&";
				window.location = url + "limit=" + $(this).val();
			});
				
			var vars = getUrlVars();
			if (vars['limit']) 
				$('#per-page-selector').val(vars['limit']);
				
			$('.giftreggie-add-to-cart').click(function() {
				var variantRow = $(this).parents(".registry-variant").first();
				var id = variantRow.find(".variant-id").val();
				
				var prop_names = variantRow.find('.property-name');
				var prop_values = variantRow.find('.property-value');
				var properties = "";
				for(i = 0; i < prop_names.length; ++i){
					properties = properties + '<input name="properties[' + prop_names[i].textContent + ']" value="' + prop_values[i].textContent + '">'
				}
				$('<form method="post" action="/cart/add"><input type="hidden" name="id" value="' + id + '"/><input type="hidden" name="quantity" value="1"/>' + properties + '</form>').appendTo("body").submit();
				return false;
			});
				
			$('.giftreggie-registry-form').submit(function() {
				$('.giftreggie-view-registry').each(function() {
					var div = $(this);
					if (!div.is(":visible")) {
						div.find("input").remove();
					}
				});
			});
		})(jQuery);
	});
	</script>
	{% include 'proxy_cart_update' %}
	
{% endif %}
