{% include 'proxy_registry_header' %}
<div class="container">
    <div class="row">
        <div class="col-12">
<div class="share-registry">
	<div class="registry-url">
		{% assign capital_type = type | capitalize %}
		
		<h2 class="h2 color-berry">{{ 'gift-reggie.sharing.title' | t: type: capital_type }}</h2>
		<h3 class="text-center registry-share-url">Your Registry Link: https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}</h3>
			{{ 'gift-reggie.sharing.direct_url' | t }}
			
	
		{% include 'proxy_sharing_snippet' %}
	</div>
</div>
</div>
    </div>
</div>
{% include 'proxy_registry_footer' %}