{% include 'proxy_registry_header' %}
<style type='text/css'>
	.giftreggie-profile-buttons {
		text-align: center;
		width: 100%;
		margin: 12px 0;
	}
</style>
<section class="track">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center color-berry">Track Gifts</h2>
        </div>
    </div>
     <div class="row">
        <div class="col-12 text-center">
            <a class="h3 text-center color-berry thankyou-link" href="#">Download 'Thank you list'</a>
        </div>
    </div>
     <div class="row">
        <div class="col-12">
            {% if orders.size > 0 %}
<table class='giftreggie-orders body1'>
	<tr>
		<th>{{ 'gift-reggie.terms.order_number' | t }}</th>
		<th>{{ 'gift-reggie.terms.purchase' | t }}</th>
		<th>{{ 'gift-reggie.terms.date' | t }}</th>
		<th>{{ 'gift-reggie.terms.user' | t }}</th>
		<th>{{ 'gift-reggie.terms.email' | t }}</th>
		
	</tr>
	{% for order in orders %}
		<tr>
			<td>{{ order.order_name | escape_html }}</td>
			<td><a href="{{ order.product_url}}">{{ order.product_name | escape_html }}</a> x {{ order.product_quantity }}</td>
			<td>{{ order.created_datetime | date }}</td>
			<td>{{ order.name | escape_html }}</td>
			<td>{{ order.email | escape_html }}</td>
			
		</tr>
	{% endfor %}
</table>
{% else %}
<p class="giftreggie-no-orders">{{ 'gift-reggie.manage-registries.no-orders' | t }}</p>
{% endif %}
        </div>
    </div>
</div>
</section>


{% include 'proxy_registry_footer' %}
