 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".sortable" ).sortable();
    $( ".sortable" ).disableSelection();
  } );
  </script>

<div class="manage-registry-header">
    <div class="container">
		<div class="row no-gutters manage-registry-layout align-items-center">
			{% if image %}
			<div class="col-12 col-lg-3">
				<div class="manage-registry-photo">
				<img src='{{ image }}' alt="{{ registrant | escape_html }}{% if coregistrant %} & {{ coregistrant | escape_html }}{% else %}{{ 'gift-reggie.terms.none' | t }}{% endif %}'s Photo"/>
			</div>
			</div>
			{% endif %}	
			<div class="{% if image %}col-12 col-lg-9{% else %}col-12 col-lg-8 offset-lg-2{% endif %}">
					<div class="registry-header-details">
								<h2 class="registry-title">{% if registrant_first %}{{ registrant_first | escape_html }} {{ registrant_last | escape_html }}{% if coregistrant_first %} & {{ coregistrant_first | escape_html }} {{ coregistrant_last | escape_html }}{% endif %}'s{% else %}Your{% endif %} Registry</h2>
						
					
						
						{% if message %}
							<div class="giftreggie-store-message registry-title-event-message">{{ message | escape_html | newline_to_br }}</div>
						{% endif %}
						{% if description %}
							<div class="giftreggie-description registry-title-event-message">
								{{ description | escape_html | newline_to_br }}
							</div>
						{% endif %}
						{% if is_admin%}
						<div class="reigstry-description-edit">
							<a href="{{ proxy_url }}/registry/{{ id }}/profile" class="registry-title-edit">{{ 'gift-reggie.registry.edit_message' | t }}</a>
						</div>
						{% endif %}
				
				
						
						<div class="registry-title-url">
							<label class="registry-title-link-label">Registry Link:</label> 
							<span class="link-text" id="registryURL">https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}</span>
							{% if is_admin%}
							<div class="copy-link js-copy-link mini-button" onclick="copyToClipboard('#registryURL')" rel="https://{{ shop.domain }}{{ proxy_url }}/registry/{{ id }}">
								<span class="mini-button-text">Copy Link</span>
								<div id="copied-tooltip" class="copied-tooltip h5">copied!</div>
							</div>
							<div class="share-link">
								<a href="{{ proxy_url }}/registry/{{ id }}/share" class="mini-button">
									<span class="mini-button-text">Share Link</span>
								</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
{% if is_admin %}
<div class="registry-excerpt">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
            		<div class="dashboard-summary">
	
							<div class="summary-item summary-date">
								<i></i>
								<div class="summary-text">

<span class="summary-title">		
<script type = "text/javascript" >
    
var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = mm + '/' + dd + '/' + yyyy;
    
// JavaScript program to illustrate 
// calculation of no. of days between two date 
  
    // To set two dates to two variables
var date1 = new Date(today);
var date2 = new Date("{{ event_datetime |  date: "%m/%d/%y" }}");
  
// To calculate the time difference of two dates
var Difference_In_Time = date2.getTime() - date1.getTime();
  
// To calculate the no. of days between two dates
var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

// Remove decimal places
var myTrunc = Math.trunc( Difference_In_Days );

//To display the final no. of days (result)
document.write(myTrunc+ " ");
  
  
</script> Days
</span>
								
								
								

								<span class="summary-subtitle">until your big day</span>
								</div>
							</div>
							<div class="summary-item summary-gifts">
								<i></i>
								<div class="summary-text">
								<span class="summary-title"> 
									{{item_count}}
									 Gifts / {{customer.metafields.quiz.guestCount}} Recommended</span>
								<span class="summary-subtitle">added to your registry</span>
								</div>
							</div>
							<div class="summary-item summary-purchased">
								<i></i>
								<div class="summary-text">
								<span class="summary-title">{% assign purchased = 0 %}
{% for product in products %}
{% assign purchased = product.has + purchased %}
{% endfor %}
{{purchased}} Gifts</span>
								<span class="summary-subtitle">Purchased or Claimed</span>
								</div>
							</div>

					</div>
		        </div>
			</div>
        </div>
</div>
	{% endif %}

{% if products.size == 0 %}
	<div class="giftreggie-no-products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="no-products-content">
						<h3 class="h3 color-berry">{{ 'gift-reggie.wishlist.no_products' | t }} </h3>
						{% if is_admin %}
						<a href='{{ browsing_link }}' class="button cta add0b">Start by Adding Gifts</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}



{% if products.size > 0 %}
	{% if max_pages > 1 %}
		<div class="giftreggie-browse-add-products">
	    <div class="container">
	        <div class="row">
	            <div class="col-12 col-lg-4 offset-lg-8">
					<div class="giftreggie-items-page">
						{{ 'gift-reggie.items_per_page' | t }}
						<select id="per-page-selector">
							<option>25</option>
							<option>50</option>
							<option>100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
<div class="full-registry">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-2">
				<section class="component-collection-filters"> 
	        		<form class="controls collection-filters-form">
						<label class="filter-title">Filter</label>
						<div class="collection-filter-drop filter-group rating-group">
							<div class="filter-drop-title filter-title">
								<i class="fal fa-chevron-down" aria-hidden="true"></i>	
	                          	<span>Evergrade Rating</span>
							</div>
							<div class="filter-drop">
								<fieldset data-filter-group class="checkbox-group">
									<div class="filter-items">
						                <div class="checkbox">
						                    <input type="checkbox" value=".rating-high"/>
											<label class="checkbox-label body1 value-high">90-100</label>
						                </div>
						                <div class="checkbox">
											 <input type="checkbox" value=".rating-above-average"/>
						                    <label class="checkbox-label body1 value-above-average">80-89</label>
						                </div>
						                <div class="checkbox">
											<input type="checkbox" value=".rating-average"/>
						                    <label class="checkbox-label body1 value-average">70-79</label>
						                </div>
						                <div class="checkbox">
											<input type="checkbox" value=".rating-below-average"/>
						                    <label class="checkbox-label body1 value-below-average">60-69</label>
						                </div>
						                <div class="checkbox">
											<input type="checkbox" value=".rating-low"/>
						                    <label class="checkbox-label body1 value-low">0-59</label>
						                </div>
									</div>
				            	</fieldset>
							</div>
						</div>
						<div class="collection-filter-drop filter-group categories-group">
							<div class="filter-drop-title filter-title">
								<i class="fal fa-chevron-down" aria-hidden="true"></i>	
	                 		   <span>Categories</span>
						   	</div>
							<div class="filter-drop">
								<fieldset data-filter-group class="checkbox-group">
								<div class="filter-items">
					                <div class="checkbox">
										<input type="checkbox" value=".cat-kitchen"/>
					                    <label class="checkbox-label body1">Kitchen</label>
					                </div>
					                <div class="checkbox">
					                    <input type="checkbox" value=".cat-tabletop"/>
										<label class="checkbox-label body1">Tabletop</label>
                
					                </div>
					                <div class="checkbox">
					                    <input type="checkbox" value=".cat-bed"/>
									    <label class="checkbox-label body1">Bed & Bath</label>
					                </div>
					                <div class="checkbox">
					                    <input type="checkbox" value=".cat-home"/>
									    <label class="checkbox-label body1">Home </label>
					                </div>
					                <div class="checkbox">
					                    <input type="checkbox" value=".cat-cash"/>
									    <label class="checkbox-label body1">Cash</label>
					                </div>
								</div>
		            		</fieldset>
							</div>
						</div>
						<div class="collection-filter-drop filter-group  price-group">
							<div class="filter-drop-title filter-title">
								<i class="fal fa-chevron-down" aria-hidden="true"></i>	
	                  		  	<span>Price</span>
							</div>
							<div class="filter-drop">
								<fieldset data-filter-group class="checkbox-group">
									<div class="filter-items">
										<div class="checkbox">
					                    	<input type="checkbox" value=".price-low"/>
									    	<label class="checkbox-label body1">$0-$100</label>
					                	</div>

						                <div class="checkbox">
						                    <input type="checkbox" value=".price-below"/>
										    <label class="checkbox-label body1">$101-$200</label>
						                </div>

						                <div class="checkbox">
						                    <input type="checkbox" value=".price-average"/>
										    <label class="checkbox-label body1">$201-$599</label>
						                </div>
				  						<div class="checkbox">
					                    	<input type="checkbox" value=".price-above"/>
									    	<label class="checkbox-label body1">$600-$900</label>
					               	 	</div>
				  						<div class="checkbox">
					                    	<input type="checkbox" value=".price-high"/>
									    	<label class="checkbox-label body1">$1000+</label>
					                	</div>
									</div>
		            			</fieldset>
							</div>
						</div>
						<div class="collection-filter-drop filter-group  purchased-group">
							<div class="filter-drop-title filter-title">
								<i class="fal fa-chevron-down" aria-hidden="true"></i>	
	                  		  	<span>Completion Status</span>
							</div>
							<div class="filter-drop">
								<fieldset data-filter-group class="checkbox-group">
									<div class="filter-items">
										<div class="checkbox">
					                    	<input type="checkbox" value=".needs"/>
									    	<label class="checkbox-label body1">Needs</label>
					                	</div>

						                <div class="checkbox">
						                    <input type="checkbox" value=".has"/>
										    <label class="checkbox-label body1">Has</label>
						                </div>
					              
									</div>
		            			</fieldset>
							</div>
						</div>
		 		   	 	<button type="reset" class="control control-text button cta">Reset</button>
	        		</form>
				</section>
			</div>
			<div class="col-12 col-lg-10">
				{% if is_admin %}
					<div class="giftreggie-browse-add-products">
						<a href="#chooseShop" class="add-gifts" data-lity> <i class="fa fa-plus"></i> Add Gifts</a>
					</div>
					
					{% include 'manage-registry-collection-popup' %}
				{% endif %}
				
				<form method="post" class="giftreggie-registry-form" id="registryForm">
					<input type='hidden' name='extra' value='{{ extra | escape_html }}'/>
	
					<div class="giftreggie giftreggie-view-registry add-gifts-form sort-products sortable">
					
						{% for product in products %}
	   						{% assign registry_product_handle = product.handle %}
	   						{% assign shop_product = all_products[registry_product_handle] %}
						
						
							{% assign tags = product.tags | split: ", " %}

							<div class="registry-gift-item product-grid-item mix {% for tag in tags %} {{tag | downcase}}{% endfor %}{% if product.still_needs > 0 %} needs{% else %} has{% endif %}">
								<div class='registry-variant'>
									<input type='hidden' name="item-id" value="{{ product.id }}">
									<input type='hidden' class='variant-id' name='variant-id' value='{{ product.variant_id }}'/>
									<input type='hidden' class='product-id' name='product-id' value='{{ product.product_id }}'/>
								
		  						  	<div class="image-wrapper">
										<div class="rating-badge badge-{{shop_product.metafields.ratingvalue.ratingvalue}}">
			   								{% if shop_product.metafields.rating.rating %}
		  							    		{{shop_product.metafields.rating.rating}}
		  							     	{% else %}
		  							    	 	N/A
		  							     {% endif %}
		  							</div>
		  							<div class="photo-badges">
		  								<a href="{{ product.image}}" data-lity class="enlarge-gift-item">
		  									<i class="fa fa-arrows" aria-hidden="true"></i>
		  								</a>
		  								{% if is_admin %}
		  								{% unless product.has %}
		  								<button name='action' value="delete-{{ product.id }}" class="delete-gift-item">
		  									<i class="fa fa-trash-o" aria-hidden="true"></i>
		  								</button>
		  								{% endunless %}
		  								{% endif %}
								
		  							</div>
		  							    
		  						      <div class="registry-product-image">
		  						      <img src="{{ product.image | img_url: '400x400' }}" class="gift-item-image" alt="{{ product.featured_image.alt | escape }}">
		  						    </div>
		  						  </div>
								
								  	<div class="text-wrapper">
									  <div class="gift-item-vendor">{{ product.vendor | escape_html }}</div>
								    	<h4 class="product-grid-name h3">
										<a href="{% if testing %}/mock{% endif %}{% if language %}/{{ language }}{% endif %}/products/{{ product.handle | escape_html }}" class="color-berry product-grid-title gift-item-name">{{ product.title | escape_html }}</a>
									</h4>
									{% if product.properties %}
										<div class="properties">
										    {% assign bold_price = 0 %}
											{% for property in product.properties %}
											 {% if property.name is '_boldVariantPrices' %}
											    {% assign bold_price = property.value %}
											 {% endif %}
											 {% if property.name contains 'bold' %}
											        <div style='display: none' class="property property-{{ property.name | handleize }}">
			    										<span class="property-name">{{ property.name | escape_html }}</span>
			    										<span class="property-value">{{ property.value | escape_html }}</span>
			    									</div>
											    {% else %}
			    									<div class="property property-{{ property.name | handleize }}">
			    										<span class="property-name">{{ property.name | escape_html }}</span>
			    										<span class="property-value">{{ property.value | escape_html }}</span>
			    									</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								      	<div class="color-berry body2 gift-item-price">
											<span class='money'>{{ (product.price + bold_price) | money }}</span>
										</div>
								    </div>
										<div class="manage-registry-item">
											<div class="wants gift-item-requested">
											<span>Requested:</span>
											{% if is_admin %}
											<input type='text' class="giftreggie-want-quantity" name="want-quantity-{{ product.id }}" maxlength=3 value='{{ product.wants }}'/>{% else %}
											<span>{{ product.wants }}</span>
											{% endif %}
										</div>
										<div class="needs gift-item-needed">
											<span>Still Needed:</span>
											<span>{{ product.still_needs }}</span>
										</div>
										{% if is_admin %}
											{% if product.still_needs > 0 %}
												<button name="action" value="update" class="save-registry-item button cta"  form="registryForm">Update</button>
																					<script type="text/javascript">
											    $(document).ready(function() {
											       $(".save-registry-item").click(function() {
											           $("#registryForm").submit();
											       });
											    });
											</script>
																					{% else %}
																					<div class="button cta outline-button">Purchased</div>
										
																					{% endif %}
										
										
									
										{% else %}
										
										{% if product.still_needs > 0 %}
										
										<button class="button cta buy-registry-item giftreggie-add-to-cart js-go-cart-add-to-cart add-to-cart" data-add-to-cart>{{ 'gift-reggie.cart-update.add' | t }}</button>
										
										{% else %}
										<div class="button cta outline-button">Purchased</div>
										
										{% endif %}
										
										{% endif %}
										
									
									</div>
								</div>
							</div>
							{% endfor %}
	
				
					</div>
					{% if is_admin %}
						<div class="action-buttons manage-registry-buttons">
							<button id='discard-changes' class="button cta">{{ 'gift-reggie.terms.discard_changes' | t }}</button>
							<button id='save-changes' name='action' value='update' class="button cta">{{ 'gift-reggie.terms.save_changes' | t }}</button>
						</div>
						<script type='text/javascript'>
							window.jgReady.push(function(jQuery) {
								(function($) {
									$('#view-registry input').keypress(function (e) {
										if (e.which == 13) {
											$('#save-changes').click();
											return false;
										}
									});
									$('#discard-changes').click(function() {
										window.location.href = window.location.href;
										return false;
									});
								})(jQuery);
							});
						</script>
					{% else %}
						{% if registry_notes %}
					<div class="giftreggie-notes">
						<h4 class="h4 gift-notes-label">{{ 'gift-reggie.cart-update.note' | t }}</h4>
						<textarea name='note' class="gift-notes-textarea">{{ cart.note | escape }}</textarea>
					</div>
						{% endif %}
						<div class="action-buttons manage-registry-buttons">
							<button id="registry-update-cart" class="button cta">{{ 'gift-reggie.cart-update.update' | t }}</button>
							{% include 'snippet-giftreggie-checkout-button' %}
						</div>
						<script type='text/javascript'>
							window.jqReady.push(function(jQuery) {
								(function($) {
									$('.registry-variant-quantity').keypress(function (e) {
										if (e.which == 13) {
											$('#registry-update-cart').click();
											return false;
										}
									});
								})(jQuery);
							});
						</script>
					{% endif %}
					{% if max_pages > 1 %}
						<div id="pagination-div"></div>
					{% endif %}
					<div id="status-bar" style="display:none;">{{ 'gift-reggie.cart-update.success' | t }}</div>
				</form>
				
			</div>
		</div>
	</div>
</div>



{% include 'manage-registry-carousels' %}

	<script type='text/javascript'>	
	window.jqReady.push(function(jQuery) {		
		(function( $ ) {
			createPagination($('#pagination-div'), {{ max_pages }});

			$('#per-page-selector').change(function() {
				var url = window.location.href.replace(/[\?\&](limit|page)=\d+/g, "").replace(/^([^\?])+&/, "$1\?");
				url += (url.indexOf("?") == -1) ? "?" : "&";
				window.location = url + "limit=" + $(this).val();
			});
				
			var vars = getUrlVars();
			if (vars['limit']) 
				$('#per-page-selector').val(vars['limit']);
				
			$('.giftreggie-add-to-cart').click(function() {
				var variantRow = $(this).parents(".registry-variant").first();
				var id = variantRow.find(".variant-id").val();
				
				var prop_names = variantRow.find('.property-name');
				var prop_values = variantRow.find('.property-value');
				var properties = "";
				for(i = 0; i < prop_names.length; ++i){
					properties = properties + '<input name="properties[' + prop_names[i].textContent + ']" value="' + prop_values[i].textContent + '">'
				}
				$('<form method="post" action="/cart/add"><input type="hidden" name="id" value="' + id + '"/><input type="hidden" name="quantity" value="1"/>' + properties + '</form>').appendTo("body").submit();
				return false;
			});
				
			$('.giftreggie-registry-form').submit(function() {
				$('.giftreggie-view-registry').each(function() {
					var div = $(this);
					if (!div.is(":visible")) {
						div.find("input").remove();
					}
				});
			});
		})(jQuery);
	});
	</script>
	
	<script>
		
	
				
			    $(document).ready(function () {
			         $('.filter-drop').hide();
			         $('.filter-drop-title').click(function () {
			             $(this).next().slideToggle(200);
			             $(this).toggleClass("expanded");
  
			         });
			         $('.filter-drop').slideUp(200);
			     });
  
			     var containerEl = document.querySelector('.sort-products');

			     var mixer = mixitup(containerEl, {
			         multifilter: {
			             enable: true
			         },
			         animation: {
			             effects: 'fade translateZ(-100px)'
			         }
			     });
				 
		 		function copyToClipboard(element) {
		 		  var $temp = $("<input>");
		 		  $("body").append($temp);
		 		  $temp.val($(element).text()).select();
		 		  	document.execCommand("copy");
		 		  $temp.remove();
		 			}
		
		 		$( ".js-copy-link" ).click(function() {
		 			var tooltip = $('.copied-tooltip');
		 			tooltip.show();
		 			setTimeout(function() {
		 				tooltip.fadeOut( "slow" );
		 			}, 2000);
		  
		 			  	});
				
				
		</script>
				 
				 
			
	{% include 'proxy_cart_update' %}
	
{% endif %}


<script>
	
	$(window).on('load', function() {  

	$('.js-dashboard-categories').slick({
	    slidesToShow: 5,
	    slidesToScroll: 5,
	  	centerMode: false,
	  centerPadding: '0',
	  prevArrow: "<a href='#' class='previous-arrow'><i class='carousel-arrow carousel-arrow-prev'></i></a>",
	    nextArrow: "<a href='#' class='next-arrow'><i class='carousel-arrow carousel-arrow-next'></i></a>",
	  responsive: [     
	  {
	      breakpoint: 1024,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	        {
	      breakpoint: 768,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	    {
	      breakpoint: 600,

	        settings: {
	      centerMode: true,
	    centerPadding: '40px',
	        slidesToShow: 1,
	    slidesToScroll: 1,
	    dots:true,
	    arrows:false,
	      }
	    }
	  ]   
                     
	});
	});	
	$(window).on('load', function() {  

	$('.js-dashboard-essentials').slick({
	    slidesToShow: 5,
	    slidesToScroll: 5,
	  	centerMode: false,
	  centerPadding: '0',
	  prevArrow: "<a href='#' class='previous-arrow'><i class='carousel-arrow carousel-arrow-prev'></i></a>",
	    nextArrow: "<a href='#' class='next-arrow'><i class='carousel-arrow carousel-arrow-next'></i></a>",
	  responsive: [     
	  {
	      breakpoint: 1024,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	        {
	      breakpoint: 768,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	    {
	      breakpoint: 600,

	        settings: {
	      centerMode: true,
	    centerPadding: '40px',
	        slidesToShow: 1,
	    slidesToScroll: 1,
	    dots:true,
	    arrows:false,
	      }
	    }
	  ]   
                     
	});
	});	
	$(window).on('load', function() {  

	$('.js-dashboard-essential-collections').slick({
	    slidesToShow: 4,
	    slidesToScroll: 4,
	  	centerMode: false,
	  centerPadding: '0',
	  prevArrow: "<a href='#' class='previous-arrow'><i class='carousel-arrow carousel-arrow-prev'></i></a>",
	    nextArrow: "<a href='#' class='next-arrow'><i class='carousel-arrow carousel-arrow-next'></i></a>",
	  responsive: [     
	  {
	      breakpoint: 1024,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	        {
	      breakpoint: 768,
	      settings: {
	        centerMode: true,
	      centerPadding: '40px',
	        slidesToShow: 2,
	      slidesToScroll: 2,
	      }
	    },
	    {
	      breakpoint: 600,

	        settings: {
	      centerMode: true,
	    centerPadding: '40px',
	        slidesToShow: 1,
	    slidesToScroll: 1,
	    dots:true,
	    arrows:false,
	      }
	    }
	  ]   
                     
	});
	});		
	</script>
