{% include 'proxy_header' %}
<style>
	.giftreggie-registry-password-action {
		text-align: center;
	}
</style>
<div class="giftreggie-front giftreggie-registry-password giftreggie-theme-{{ theme.name | handleize }}">
	<form method="get">
		<h2>{{ 'gift-reggie.registry.password_protected' | t }}</h2>
		{% if active_error %}
			<div class="giftreggie-error">{{ active_error | escape_html }}</div>
		{% endif %}
		<div class="giftreggie-registry-password-action">
      <input type='hidden' name='sid' value="{{ sid }}">
      <input type='text' name='password'>
			<button>{{ 'gift-reggie.registry.password_submit' | t }}</button>
		</div>
	</form>
</div>
{% include 'proxy_footer' %}