<html>
<head>
	<title>{{ name }}</title>
	<script type='text/javascript' src="{{ js_catalyst_src }}/jquery-1.9.1.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/css_overrides.css" />
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/catalyst-style.css" />
	<link rel="stylesheet" type="text/css" href="{{ css_catalyst_src }}/chosen.min.css" />
</head>
<style>
	table.table tr td, table.table tr th { vertical-align: middle; text-align: center; }
	table { max-width: 768px; margin: 0 auto; }
	table img { max-width: 64px; }
	h1, h2, h3, h4 { text-align: center; } 
	
	table.information tr td {
		text-align:left;
		vertical-align: top;
	}
</style>
<h1>{{ name | escape_html  }}</h1>
<h4>Printed on: {{ now }}</h4>
<h3>{{ registrant | escape_html }}{% if coregistrant %} &amp; {{ coregistrant | escape_html  }}{% endif %}</h3>
<table class="table table-striped information">
	<tr>
		<th>Shipping Information</th>
		<th>Event Information</th>
	</tr>
	<tr>
		<td>{{ registrant | escape_html }}<br/>
		{{ address1 | escape_html  }}{% if address1 %} {{ address2 | escape_html  }}{% endif %}<br/>
		{{ city | escape_html  }}, {{ province | escape_html  }}, {{ country | escape_html  }} {{ postal | escape_html  }}</td>
		<td>Date: {{ event | escape_html  }}{% if type %}<br/>
		Type: {{ type  | escape_html }}{% endif %}<br/>
		Status: {{ status | escape_html  }}<br/>
		Email: {{ contact_email | escape_html  }}{% if contact_daytime %}<br/>
		Daytime Phone: {{ contact_daytime | escape_html }}{% endif %}{% if contact_evening %}<br/>
		Evening Phone: {{ contact_evening | escape_html }}{% endif %}</td>
	</tr>
</table>
<table class="table table-striped items">
	<tr><th>IMAGE</th><th>TITLE</th><th>PRICE</th><th>WANTS</th><th>HAS</th><th>NEEDS</th></tr>
	{% for item in items %}
		<tr>
			<td><img width=64 src='{{ item.image }}'/></td>
			<td>{{ item.title | escape_html }}</td>
			<td><span class='money'>{{ item.price | money }}</span></td>
			<td>{{ item.wants }}</td>
			<td>{{ item.has }}</td>
			<td>{{ item.needs }}</td>
		</tr>
	{% endfor %}
</table>
<script type='text/javascript'>
	$(window).load(function() {
		window.print();
	});
</script>
</body>
</html>